<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>User list</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/adding}">Adding users</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/">Users</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-2">
    <h1>Users List</h1>

    <form th:action="@{/users/1}" class="form-inline m-3" id="searchForm">
    <input type="search" placeholder="name, surname or login" name="keyword" th:value="${keyword}" class="form-control" required/>
        <input type="hidden" name="sortField" th:value="${sortField}" />
        <input type="hidden" name="sortDir" th:value="${sortDir}" />
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
    </button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" onclick="clearFilter()">
            <i class="fa fa-eraser"></i>
        </button>
        </form>

    <form th:action="@{/users/page/}" th:method="post" th:object="${pageNumber}" class="form-inline m-3">
        <p>Go to page:</p>&nbsp;&nbsp;
        <input th:field="*{number}" type="number" min="1" max="{totalPages}" >
        &nbsp;&nbsp
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-caret-right"></i>
        </button>
    </form>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/users/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                    ID</a>
            </th>
            <th>
                <a th:href="@{'/users/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                   Name</a>
            </th>
            <th>
                <a th:href="@{'/users/' + ${currentPage} + '?sortField=surname&sortDir=' + ${reverseSortDir}}">
                    Surname</a>
            </th>
            <th>
                <a th:href="@{'/users/' + ${currentPage} + '?sortField=login&sortDir=' + ${reverseSortDir}}">
                    Login</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.login}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class >
                <div class = "row col-sm-10">
                    <div class = "col-sm-2">
                        Total Pages: [[${totalPages}]]
                    </div>
            </div>
            </div>
            <div class >
                <div class = "row col-sm-10">
                    <div class = "col-sm-2">
                        Current Page: [[${currentPage}]]
                    </div>
                </div>
            </div>
            <div class>
                <a th:if="${currentPage > 1}" th:href="@{'/users/' + ${1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First page </a>&nbsp;
            </div>
                <div class>
                    <a th:if="${currentPage > 1}" th:href="@{'/users/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Back </a>&nbsp;
                </div>
            <div class>
                <a th:if="${currentPage < totalPages}" th:href="@{'/users/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next </a>&nbsp;
            </div>
            <div class>
                <a th:if="${currentPage < totalPages}" th:href="@{'/users/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/clear.js}"></script>

<script type="text/javascript">
moduleURL = "[[@{/users/}]]";
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<style>
body {
padding-top: 55px; height:100%;
}
p {
margin-bottom: 0.1em;
}

</style>
</body>
</html>

<!--
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }
-->